@import url(http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Radley:400italic,400);

@import url(http://fonts.googleapis.com/css?family=La+Belle+Aurore);

html { height: 100%; }
body { max-width: 800px; margin: 0 auto; font-family: "Josefin Sans"; }

hr { border: 0; border-top: 1px solid black; }

h1 { font-family: "Goudy Bookletter 1911", serif; }
h2, h3, h4 { font-family: Radley, serif; text-transform:uppercase; font-weight: normal; }

h1#title { font-size: 42px; margin: 0 auto 0 auto; text-align: center; text-transform:uppercase; font-weight: normal; padding: 20px 0 10px 0; border-bottom: 4px solid #AB4B52; }
h1#title a { text-decoration: none; }
h1#title a:visited { color: black; }
h1 { font-size: 19px; font-size: 0.75cm; font-weight: normal; }
h2 { margin: 0.3em 0; font-size: 22px; }
h3 { margin: 0.3em 0 1em 0; font-size: 18px;  color: #AB4B52; }
h3 i { text-transform: none; }
h4 { margin: 0.1em 0 1em 0; font-size: 16px; }
h5 { font-size: 120%; margin: 0; padding: 5px 1em; text-align: center; }

h2.sec { color: #b78727; text-transform:none; margin: 1em 0 0 0; }
h2.category { float: right; width: 180px; text-align: center; background-color: #AB4B52; color: white; margin-top: 0; font-family: "Goudy Bookletter 1911", serif; font-size: 20px; }
h2.category a, h2.category a:visited { text-decoration: none; color: white; }

#footer {	border-top: 1px solid white; padding: 1em 0; margin: 50px 0 0.5cm 0; text-align: center; line-height: 1.6em; border-top: 1px solid black; }

/* home page */
.categories { border-spacing: 20px; }
.categories .square td { height: 175px; width: 175px; background-position: center; background-repeat: no-repeat; vertical-align: bottom; padding: 0; cursor:pointer; border: 0px solid #b78727; }
.categories .square a { color: white; text-decoration: none; font-family: "Goudy Bookletter 1911", serif;  }
.categories h3 { background-color: #AB4B52; margin: 0; padding: 12px 0; text-align: center; font-size: 14px; }

ul.leaders { max-width: 380px; padding: 0; overflow-x: hidden; list-style: none; font-family: Radley; margin: 0; } 
ul.leaders li:before { float: left; width: 0; white-space: nowrap; font-weight: 400; color: #777; content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "; }
ul.leaders h4 { padding-right: 0.33em; background: white; display: inline-block; margin: 0; font-family: font-family: "Goudy Bookletter 1911", serif; font-size: 15px;}
ul.leaders span { float: right; padding-left: 0.33em; background: white; }
ul.leaders a, ul.leaders a:visited { color: black; }

/* search view */
#searchbox { clear: right; display: inline-block;  font-family: "Josefin Sans"; margin: 2em; }
#query { font-size: 110%; border: 1px solid #b78727; }
#dosearch { font-size: 110%; }
input { margin: 0; font-family: "Josefin Sans"; }
.match {width: 250px; padding: 5px; margin-bottom: 10px; display: block; position: relative; }
.match img { position: relative; }
.match .imgdesc { position: absolute; bottom: 8px; background-color: rgba(171, 75, 82, 0.7); display: block; width: 230px; color: white; padding: 10px; }
.imgdesc h4 { font-family: "Josefin Sans"; }
a.img, a.img:visited { text-decoration: none; color: black; }

/* list view */
h3.period { margin: 0; text-transform: none;  clear: right; border-bottom: 1px solid #b78727; margin-top: 1em; width: 600px;  font-family: "Josefin Sans"; }
table.list { border-spacing: 0px; width: 600px; }
table.list .img { text-align: center; padding-right: 30px; }
.listtext { font-family: Radley, serif; font-size: 15px; }
.listtext p { text-align: justify; }
.listtext div {  overflow:hidden; float:left; }
.spacer { height: 50px; }

/* item view */
#item { margin-top: 50px; clear: right; }
#more { text-align: center; }
#more h3 { border-bottom: 1px solid black; }
.imgtext { padding-bottom: 1em; font-family: Radley, serif; font-size: 13px; }
.line b { color: #AB4B52; }
.line { border-bottom: 1px solid black; }
.even { text-align: right; }
.images { border-width: 0; border-spacing: 10px 50px;  }
a.fullsize { cursor: -webkit-zoom-in; cursor: -moz-zoom-in; }

.itemtext { font-family: Radley, serif; font-size: 15px; padding-right: 2em; }
.itemtext p { text-align: justify; }
.itemtext p:first-child { margin-top: 0; }

.price { font-size: 15px; float: right; font-family: "Josefin Sans"; font-weight: bold; clear: right; margin-top: 1em; }
.price small { font-size: 11px; }
.sold { color: #AB4B52; }
.desc { font-size: 18px; color: #b78727; font-weight: 400; font-family: "Josefin Sans"; }
.date { font-size: 14px; float: right; }
.artist, .designer { font-family: "La Belle Aurore"; font-size: 18px; }
h1.artist { font-size: 42px; text-align: center; }

/* artist view */
.two-column { width: 100%; border-spacing: 0 40px; }
.two-column td.img { text-align: center; }
.two-column td.right { text-align: right; }

/* colors */
.gul { background-color: #eed58c; border: 0px solid #D9D0AD; } /* F0E6C5; */
.gul h2 { color: #725d2b; }
.gul .thumb { background-color: #e2c780; }
.turkos { background-color: #bcd0c6; border: 0px solid #D9D0AD; } /* F0E6C5; */
.turkos h2 { color: #2d3734; }
.turkos .thumb { background-color: #acc0b6; }
.rosa { background-color: #EDD8D9; background-image: url(http://sandbergwallpaper.se/wp-content/uploads/2014/12/780-09_image2.jpg); }
.rosa h2 { color: #806668; }
.rosa .thumb { background-color: #E5D0D1; }

.blue h1#title { border-bottom-color: #708090; }
.blue h2.category { background-color: #708090; }

