---
layout: default
title: Tigerström Konst & Antik
---

	<table class="categories">
		<tr>
			<td style="background-image:url(http://res.cloudinary.com/tigerstromsantik/image/upload/w_0.25/v1423508157/Snedklaff_2_zhmsxx.jpg); background-position: -2em -1.6cm;"><a href="/möbler/">Möbler</a></td>
			<td style="background-image:url(http://res.cloudinary.com/tigerstromsantik/image/upload/w_0.25/v1423508173/Clara_Montalba_5_qymz68.jpg)"><a href="/tavlor/">Tavlor</a></td>
			<td style="background-image:url(http://res.cloudinary.com/tigerstromsantik/image/upload/w_0.45/v1423508152/Empirespegel_Johan_Martin_Berg._dhcmyb.jpg); background-position: -30px -4cm;"><a href="/speglar/">Speglar</a></td>
		</tr>
		<tr>
			<td style="background-image:url()">Belysning</td>
			<td style="background-image:url(http://res.cloudinary.com/tigerstromsantik/image/upload/w_1.8/v1423508134/Mortel_med_st%C3%B6t_1700-tal_h.17_cm_cqnvwq.jpg)"><a href="/konst/">Konst</a></td>
			<td style="background-image:url()">Utställning</td>
		</tr>
	</table>

<!--
  <ul class="posts">
    {% for post in site.posts %}
	{% if post.groups contains 'furniture' %}
      <li>
		<span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
	  </li>
    {% endif %}
    {% endfor %}
  </ul>

	<h3>Available</h3>
  <ul class="posts">
    {% for post in site.posts %}
	{% unless post.sold %}
      <li>
		<span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
	  </li>
    {% endunless %}
    {% endfor %}
  </ul>
-->
