---
layout: default
title: Tigerström Konst & Antik

categories: 
 - name: Tavlor
   path: tavlor
   image: http://res.cloudinary.com/tigerstromsantik/image/upload/w_0.25/v1423508173/Clara_Montalba_5_qymz68.jpg
   position: center
 - name: Möbler
   path: möbler
   image: http://res.cloudinary.com/tigerstromsantik/image/upload/w_0.25/v1423508157/Snedklaff_2_zhmsxx.jpg
   position: -80px -50px
 - name: Lampor
   path: lampor
   image: http://res.cloudinary.com/tigerstromsantik/image/upload/w_0.5/v1424532269/Fotogenlampa_upmdvo.jpg
   position: 
 - name: Keramik
   path: keramik
   image: http://res.cloudinary.com/tigerstromsantik/image/upload/v1424550896/keramik/Keramik_090.jpg
 - name: Konst
   path: konst
   image: http://res.cloudinary.com/tigerstromsantik/image/upload/w_0.8/v1423508136/Punu_mask_afrika_d9anrw.jpg
   position: "-20px -130px"
---



	<table class="categories">
		<tr><td colspan="4"><h2 class="sec">Kategorier</h2></td></tr>
		<tr class="square">
		{% for cat in page.categories limit:4 %}
			<td onclick="location.href='/kategori/{{ cat.path }}/'" style="background-image:url({{ cat.image  }}); background-position: {{ cat.position }} ;"><h3><a href="/kategori/{{ cat.path }}/">{{ cat.name }}</a></h3></td>
    {% endfor %}
		</tr>

		<tr class="square">
		{% for cat in page.categories limit:4 offset:4 %}
			<td onclick="location.href='/kategori/{{ cat.path }}/'" style="background-image:url({{ cat.image  }}); background-position: {{ cat.position }} ;"><h3><a href="/kategori/{{ cat.path }}/">{{ cat.name }}</a></h3></td>
    {% endfor %}
		</tr>

		<tr><td colspan="4"><h2 class="sec">Register</h2></td></tr>
		<tr>
			<td colspan="2">
				<ul class=leaders>
					<li><a href="/hitta/"><h4>Sök</h4> <span>igenom {{ site.posts | size }} objekter</span></a></li>
					<li><a href="/nya/"><h4>Ny</h4> <span>{{ site.posts[0].date | date: "%F" }}</span></a></li>
					<li><a href="/sålda/"><h4>Såld</h4> <span></span></a></li>
				</ul>
			</td>
			<td colspan="2"></td>
		</tr>
	</table>



