---
layout: default
title: Tigerström Konst & Antik
---

	<table class="categories">
		<tr>
			<td style="background-image:url(http://www.lundgrensantik.se/assets/splashes/chandeliers.png)">Belysning</td>
			<td style="background-image:url(http://www.lundgrensantik.se/assets/splashes/mirrors.png)"><a href="/speglar/">Speglar</a></td>
			<td style="background-image:url(http://www.lundgrensantik.se/assets/splashes/furniture.png)"><a href="/möbler/">Möbler</a></td>
		</tr>
		<tr>
			<td style="background-image:url(http://www.lundgrensantik.se/assets/splashes/works-of-art.png)">Konst</td>
			<td style="background-image:url(http://www.lundgrensantik.se/assets/splashes/paintings-sculptures.png)"><a href="/tavlor/">Tavlor</a></td>
			<td style="background-image:url(http://www.lundgrensantik.se/assets/splashes/fairs-exhibitions.png)">Utställning</td>
		</tr>
	</table>

<!--
  <ul class="posts">
    {% for post in site.posts %}
	{% if post.groups contains 'furniture' %}
      <li>
		<span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
	  </li>
    {% endif %}
    {% endfor %}
  </ul>

	<h3>Available</h3>
  <ul class="posts">
    {% for post in site.posts %}
	{% unless post.sold %}
      <li>
		<span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
	  </li>
    {% endunless %}
    {% endfor %}
  </ul>
-->
