<!DOCTYPE html>
<html>
    <head>
			<meta charset="utf-8">
			<title>{{ page.title }}</title>
			<link rel="stylesheet" href="/css/antik.css">
    </head>
    <body>
	
<div id="menu">
		<h1 id="title"><a href="/">TIGERSTRÖM <br/>KONST & ANTIK</a></h1>
		<div class="header info">
			<h4>Öppettider</h4>
			<table><tr>
			<th>Juli-Augusti</th><th>Tis-Fre</th><td>11-17</td>
			</tr><tr>
			<td></td><th>Lör</th><td>10-13</td>
			</tr><tr>
			<th>Övriga Året</th><th>Fre</th><td>11-17</td>
			</tr><tr>
			<td></td><th>Lör</th><td>10-13</td>
			</tr></table>
		</div>

			<ul>
				<li><a href="/sold/">SOLD</a></li>
				<li><a>LJUSKRONOR</a></li>
				<li><a>SPEGLAR</a></li>
				<li><a>MÖBLER</a></li>
				<li><a>MÅLNINGAR</a></li>
			</ul>

		<div class="header info" id="contact">
			<h4>Kontaktuppgifter</h4>			
			Dan Tigerström<br/>		
			Järnvägsgatan 11 - 364 30 Åseda <br/>
			TEL 070-637 74 00<br/>
			<a href="mailto:info@tigerstromsantik.se">info@tigerstromsantik.se</a>
		</div>

</div>

<div id="content">
	{{ content }}
	<div id="footer">
			<img src="/assets/img/skaf-484ad15de95bd24be701dd722cf46ca8.png" />
			<img src="/assets/img/cinoa-c69b4b5531cb14d70b8bd951ed81c2c7.png" />
			Member of SKAF - The Swedish Art and Antique Dealers Association <br/>
			and Cinoa - The World Association of Art & Antique Dealer Associations
	</div>
</div>

    </body>
</html>
