<!DOCTYPE html>
<html>
    <head>
			<meta charset="utf-8">
			<title>{{ page.title }}</title>
			<link rel="stylesheet" href="/css/antik.css">
    </head>
    <body>

		<h1 id="title"><a href="/">TIGERSTRÖM &nbsp;KONST & ANTIK</a></h1>

<div id="menu">
<a href="/möbler/">Möbler</a> – <a href="/speglar/">Speglar</a> – <a href="/tavlor/">Tavlor</a> – Belysning – <a href="/konst/">Konst</a>
<span id="searchbox"><a href="/sök/">Sök...</a></span>
</div>

<div id="content">
	{{ content }}
	<div id="footer">
			Dan Tigerström –		
			Järnvägsgatan 11 - 36430 Åseda –
			070-637 74 00 –
			<a href="mailto:info@tigerstromsantik.se">info@tigerstromsantik.se</a>
			<br/>
			Juli-Augusti Tis-Fre 11-17 – Övriga Året Fre 11-17 Lör 10-13
	</div>
</div>

    </body>
</html>
