---
layout: default
---

<div class="post">
		<h1>{{ page.title }}</h1>


		{% if page.image %}
		<img src="{{ page.image }}" class="thumb" alt="{{ page.title }}" />
		{% endif %}

		<div class="article desc">
			<p>{{ page.description }}</p>

			{% if page.dimensions %}
			<p class="data"><b>Storlek</b>&nbsp; {{ page.dimensions }}</p>
			{% endif %}

			{% if page.sold %}
			<em class="tag">SOLD</em><br/>
			{% endif %}

			<p class="date">{{ page.date | date_to_string }}</p>
		</div>
	
		<div class="details">
		{{ content }} 
		</div>

</div>
